<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(https://honestlyyum.com/wp-content/uploads/2016/05/rhubarb.fennel.gin_.cocktail.3.1.jpg<%#= image_path("banner-cocktail") %>);">
  <div class="banner-content">
    <h1>Tasty Cocktails</h1>
    <p>Get the best recipes</p>
  </div>
</div>
