<h1>These are your cocktails</h1>

<% @cocktails.each do |c| %>
  <p><%= link_to c.name, cocktail_path(c) %> </p>
<% end %>

<%= link_to "Add cocktail", new_cocktail_path, class: "btn btn-primary" %>
