<%= render "components/banner" %>
<div class="container">

  <div class="row">
    <% @cocktails.each do |c| %>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card margin-around" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path "wsx2vs8barv2ooxvp6k9.jpg" %>');">
          <div class="card-description">
            <h2><%= link_to c.name, cocktail_path(c) %></h2>
          </div>
        </div>
      </div>
    <% end %>

  </div>

  <%= link_to "Add cocktail", new_cocktail_path, class: "btn btn-primary margin-around" %>
</div>

