<div class="container">
  <h1>Configure cocktail</h1>

  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description, label: "Amount" %>
    <%= f.association :ingredient %>
    <%= f.button :submit, "Add ingredient", class: "btn btn-primary" %>
  <% end %>
</div>
